{
  "log": {
    "level": "debug",
    "file": "./log/"
  },
  "fiber": {
    "trusted_ipv4": [],
    "trusted_ipv6": []
  },
  "db": {
    "driver": "postgresql",
    "host": "",
    "port": 5432,
    "login": "",
    "password": "",
    "ssl_mode": false
  },

  "master": ""
}
